{
    "semi": true,
    "tabWidth": 4,
    "parser": "flow",
    "useTabs": false,
    "printWidth": 180,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "preserve": 1
}